<!DOCTYPE html>
<html>
<head>
	<title>Node js</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<% include partials/nav.ejs %>
<body>
	<h1>Welcome to the most awesome website on the net.</h1>
	<p>You won't find a webstie better anywhere else.</p>
</body>
</html> 