<!DOCTYPE html>
<html>
<head>
	<title>Node js</title>
	<style>
		body{ background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
		h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
		p,strong{font-size: 16px; text-align: center;}
	</style>
</head>
<body>
	<% include partials/nav.ejs %>
	<h1>Welcome to the most awesome website on the net.</h1>
	<p>This website belongs to <%=person%>.</p>
	<strong>Last Name: <%= data.name %> <br></strong>
	<strong>Age: <%= data.age %></strong>
	<h2>Hobbies</h2>
	<ul>
		<% data.hobbies.forEach(function(item){ %>
			<li><%= item %></li>
	<% }); %>
	</ul>
</body>
</html> 